@import "variables";
@import "mixins";

@mixin feed__container() {
  .feed__container {
    margin: em(10) 0;
    padding: 0 em(10);
  }
}

@mixin feed__container--sm() {
  .feed__container {
    width: $container-sm;
    margin: 0 auto;
  }
}

@mixin feed-post__container() {
  .feed-post__container {
    padding: em(14);
    margin-bottom: em(10);
    background: #fff;
    box-shadow: 0 1px 3px 0 #d4d4d5;
    border-radius: em(6);
  }
}

@mixin feed-post__title() {
  .feed-post__title {
    font-size: em(18);
    color: #7da5dc;
    margin: em(5) 0;
  }
}

@mixin feed-post__author() {
  .feed-post__author {
    margin: 0;
    color: #9ba8b9;
  }
}

@mixin feed-post__body() {
  .feed-post__body {
    color: #333;
    line-height: 1.4;
  }
}
